main{
    display: flex;
    flex-direction: column;
    height: 100vh;
    background-image: url(/src/images/wall.png);
}

.menu{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 90px;
    width: 100%;
    background-color: #000000;
    color: white;
    border-bottom: 5px solid #ffd700;
}

.menu-time h2:nth-child(2){
    margin-top: 1rem;
}

.menu-score h2:nth-child(2){
    margin-top: 1rem;
}

.menu-lives{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu-lives img{
    height: 60px;
}

.panel{
    margin: 1rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.square{
    border: 1px solid black;
    height: 150px;
    width: 150px;
    background-color: #00ffff;
}

.enemy{
    background-image: url(/src/images/ralph.png);
    background-size: cover;
}